
.trans-assistant-block {
  position: relative;
  cursor: move;
}

.trans-assistant-block-text {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  z-index: 10000;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.trans-assistant-block-text pre{
  padding: 0 !important;
  margin: 0 !important;
  color: #fff !important;
  background: none !important;
  border: none !important;
}

.trans-assistant-delete {
  position: absolute;
  top: 0;
  right: 2px;
  height: 100%;
  width: 24px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 1) url("https://img.alicdn.com/tfs/TB1o8GTCNGYBuNjy0FnXXX5lpXa-48-48.png") no-repeat center;
  background-size: 24px 24px;;
  cursor: pointer;
  z-index: 10011;
}

.trans-assistant-delete:hover {
  background-image: url("https://img.alicdn.com/tfs/TB1CdVQCQyWBuNjy0FpXXassXXa-48-48.png");
}

.trans-assistant-markdown{
  position: fixed;
  left: -600px;
  top: 0;
  bottom: 0;
  width: 600px;
  z-index: 9999999;
  background-color: #000;
  color: #ffffff;
  font-size: 14px;
  overflow: scroll;
}

.trans-assistant-markdown pre{
  padding: 20px !important;
  margin: 0 !important;
  color: #fff !important;
  background: #000 !important;
  border: none !important;
  font-size: 14px !important;
}

.trans-page{
  padding: 0 20px 20px 20px;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  width: 300px;
}

.trans-page li{
  margin-bottom: 10px;
}
